body{
    background-image: url('../img/fondoIMG.JPG');
    background-repeat: no-repeat;
    background-size: 100% 100vh;
}

.contenedor{

    background-color: #78F0B4;
    display: flex;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100vh;
    height: 50vh;
    border-radius: 2vh;

}

.contenedor-IMG{

    display: flex;
    overflow: hidden;
    background-image: url('../img/fondoBlanco.JPG');
    background-size: 100% 100%;
    background-position: center;
    height: 100%;
    width: 40vh;


}

.contenedor-IMG img{

    display: block;
    margin: auto;
    width: 30vh;
    height: 30vh;

}

.contenedor-Datos{

    background: linear-gradient(59deg, rgba(0,128,154,1) 8%, rgba(18,18,111,1) 60%, rgba(6,0,107,1) 100%);
    overflow: hidden;
    display: flex;
    height: 100%;
    width: 60vh;

}

.letra-centrada{

    display: flex;
    position: absolute;
    margin-left: 18vh;
    font-family: "Broadway", cursive;
    color: aliceblue;

}

.centrado{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.lineal{

    display: flex;
    justify-content: space-around;
    align-items: center;

}

.usuario{

    display: flex;
    justify-content: left;
    font-family: "Ink Free", cursive;
    font-size: 3vh;
    margin: 20px;
    width: 55vh;
    height: 8vh;
    position: relative;
    border: none;
    border-radius: 20px;
    background-color: transparent;
    color: aliceblue;

}

input::placeholder{
    color: aliceblue;
}

.usuario:hover{
    background-color: #FF8456;
}

.clave{

    display: flex;
    justify-content: left;
    font-family: "Ink Free", cursive;
    font-size: 3vh;
    margin: 20px;
    width: 55vh;
    height: 8vh;
    position: relative;
    border: none;
    border-radius: 20px;
    background-color: transparent;

}

.clave:hover{
    background-color: #FF8456;
}

@media (max-width: 1000px){

    .contenedor{

        width: 80vh;
        height: 40vh;

    }

    .contenedor-IMG{

        width: 25vh;

    }

    .letra-centrada{

        margin-left: 14vh;

    }

    .usuario{
        width: 45vh;
    }

    .clave{
        width: 45vh;
    }

    .contenedor-IMG img{

        width: 15vh;
        height: 15vh;
    
    }

}